# =========================
# GLOBAL
SPRING_PROFILES_ACTIVE=dev
# =========================


# =========================
# ===== CLIENTE
# = DB
CLIENTE_DB_HOST=cliente-db
CLIENTE_DB_NAME=cliente_db
CLIENTE_DB_USERNAME=postgres
CLIENTE_DB_PASSWORD=postgres
CLIENTE_DB_URL=jdbc:postgresql://localhost:5433/cliente_db
CLIENTE_DB_INTERNAL_PORT=5432
CLIENTE_DB_EXTERNAL_PORT=5433
# = MS
CLIENTE_SERVICE_PORT=8081
MS_CLIENTE_URL=http://ms-cliente:8081
# =========================


# =========================
# ===== PROCESSO
# = DB
PROCESSO_DB_HOST=processo-db
PROCESSO_DB_NAME=processo_db
PROCESSO_DB_USERNAME=postgres
PROCESSO_DB_PASSWORD=postgres
PROCESSO_DB_URL=jdbc:postgresql://localhost:5533/processo_db
PROCESSO_DB_INTERNAL_PORT=5432
PROCESSO_DB_EXTERNAL_PORT=5533
# = MS
PROCESSO_SERVICE_PORT=8082
MS_PROCESSO_URL=http://ms-processo:8082
# =========================


# =========================
# ===== FRONTEND
VITE_CLIENTE_API=http://localhost:8081
VITE_PROCESSO_API=http://localhost:8082