# =========================
# SPRING PROFILE
SPRING_PROFILES_ACTIVE=
# =========================


# =========================
# ===== CLIENTE
# = DB
CLIENTE_DB_HOST=
CLIENTE_DB_NAME=
CLIENTE_DB_USERNAME=
CLIENTE_DB_PASSWORD=
CLIENTE_DB_URL=
CLIENTE_DB_INTERNAL_PORT=
CLIENTE_DB_EXTERNAL_PORT=
# = MS
CLIENTE_SERVICE_PORT=
MS_CLIENTE_URL=
# =========================


# =========================
# ===== PROCESSO
# = DB
PROCESSO_DB_HOST=
PROCESSO_DB_NAME=
PROCESSO_DB_USERNAME=
PROCESSO_DB_PASSWORD=
PROCESSO_DB_URL=
PROCESSO_DB_INTERNAL_PORT=
PROCESSO_DB_EXTERNAL_PORT=
# = MS
PROCESSO_SERVICE_PORT=
MS_PROCESSO_URL=
# =========================


# =========================
# ===== FRONTEND
VITE_CLIENTE_API=
VITE_PROCESSO_API=